<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Miami | Metric Selection</title>
    
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/logo.jpeg')}}" />
`
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/css/metric.css">
    </head>

    <body>
            {% include 'commons/nav-bar.html' %}


            <section class="flex-box"">
                <div class="flex-items">
                    <h3>Select a Metric which you would like to visualize</h3>
                    <form method="post" action="/metric-selection">

                        <!-- Radio Buttons -->
                        <!-- Repeat the structure below for options 1 through 9 -->
                        <div class="flex-item">
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option1" name="selectionOption" value = "burndown">
                                <label class="form-check-label" for="option1">Burndown Chart</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option2" name="selectionOption" value = "cycle_time">
                                <label class="form-check-label" for="option2">Cycle Time</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option3" name="selectionOption" value = "lead_time">
                                <label class="form-check-label" for="option3">Lead Time</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option4" name="selectionOption" value = "VIP">
                                <label class="form-check-label" for="option4">Value In Progress</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option5" name="selectionOption" value = "BD_Consistency">
                                <label class="form-check-label" for="option5">BD Consistency</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option6" name="selectionOption" value = "Work_AUC">
                                <label class="form-check-label" for="option6">Work AUC</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option7" name="selectionOption" value = "Value_AUC">
                                <label class="form-check-label" for="option7">Value AUC</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option8" name="selectionOption" value = "multiple_bd">
                                <label class="form-check-label" for="option8">Multiple Burndown</label>
                            </div>
                            <div class="form-check card text-center d-flex align-items-center justify-content-center select-card" >
                                <input type="radio" class="form-check-input hide" id="option9" name="selectionOption" value = "multisprint_bd">
                                <label class="form-check-label" for="option9">Multi-Sprint Burndown</label>
                            </div>
                        </div>
                        <button type="submit" class="next-button"><i class="bi bi-arrow-right"></i></button>
                    </form>
                </div>
            </section>


        {% include 'commons/footer.html' %}

    </body>

    <script>
        window.onload = function() {
            var radioButtons = document.querySelectorAll('.form-check-input');
            radioButtons.forEach(function(radioButton) {
                radioButton.addEventListener('change', function() {
                    document.querySelectorAll('.select-card').forEach(function(card) {
                        card.style.backgroundColor = '';
                    });
                if (this.checked) {
                    this.parentElement.style.backgroundColor = '#f7bf51';
                }
                });
            });
        };
        
        document.getElementById('log-out-btn').addEventListener('click', function() {
            window.location.href = '/logout';
        });
    </script>
    
</html>