<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arbitrary Lead Time Graph</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/logo.jpeg')}}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/style_sprint.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/lead_time.css')}}">
    <!-- Include Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    {% include 'commons/nav-bar.html' %}

    <div class="container">
        <form id="dateForm" method="POST" action="/arbitrary-lead-time">
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
                <div class="col-md-6">
                    <label for="end_date" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Generate Graph</button>
                </div>
            </div>
        </form>
        {% if is_data_calculated %}
        {% if lead_times_for_timeframe %}
        <div class="flex-cont">
            <div class="container">
                <h1 class="text-center">Arbitrary Lead Time Graph</h1>
                <h2 class="text-center" id="loading" style="display: none;">Loading...</h2>
            </div>

            <!-- Chart -->
            <div class="graph-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        {% else %}
        <p class="no-data-message">There are no closed tasks for the timeframe. Please select a different timeframe</p>
        {% endif %}
        {% else %}
        <p class="no-data-message">Please select a timeframe</p>
        {% endif %}
        {% include 'commons/footer.html' %}
    </div>

    <script>
        document.getElementById("dateForm").addEventListener("submit", function (event) {
            event.preventDefault();
            var startDate = document.getElementById("start_date").value;
            var endDate = document.getElementById("end_date").value;
            if (!startDate || !endDate) {
                event.preventDefault();
                alert("Please select both start date and end date.");
            } else {
                // Redirect or perform any other necessary action with the selected dates
                window.location.href = "/arbitrary-lead-time?start_date=" + startDate + "&end_date=" + endDate;
            }
        });

        // Parse JSON data
        var data = JSON.parse('{{ lead_times_for_timeframe | tojson | safe}}');

        // Extract dates and time values from the data
        var dates = Object.keys(data);
        var scatterData = [];

        // Iterate through the data and create scatter plot points
        dates.forEach(function(date) {
            data[date].forEach(function(entry) {
                var key = Object.keys(entry)[0];
                var value = entry[key];
                scatterData.push({ x: date, y: value, label: key + ': ' + value.toFixed(2) + ' days' });
            });
        });

        // Create the scatter plot chart
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Time in Days',
                    data: scatterData,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)', // Blue color for the points
                    borderColor: 'rgba(54, 162, 235, 1)', // Border color
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                console.log("Logging something in tooltip");
                                return "Task Id#" + context.dataset.data[context.dataIndex].label;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        type: 'category', // Set x-axis type to category
                        labels: dates, // Use dates as labels
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Time (Days)'
                        }
                    }
                }
            }
        });
    </script>

</body>

</html>
