.no-data-message {
  text-align: center; /* Aligns text to the center */
  font-size: 24px; /* Increases font size */
}

*,
*::after,
*::before,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

*,
*::after,
*::before {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* outline: 1px solid red; */
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

section.container-bg,
main.container-bg{
    border-radius: 15px;
}

section.container-bg,
.container-bg{
    background-color: rgba(223, 223, 223, 0.9) !important;
}

.navbar .container-fluid {
    border-radius: 15px;
    background-color: rgba(223, 223, 223, 0.9) !important;
    padding: 0.5rem;
}

.logo-name {
    font-size: 2rem;
}

.log-out-conatiner {
    --c: #f7bf51;

    color: #000;
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

.log-out-conatiner:hover {
    --_p: 100%;
}

.logout-icon::before {
    font-size: 1.5rem;
}

.log-out-text {
    font-size: 1.4rem;
    display: inline-block;
}

.slug-inp-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slug-inp-grp{
    margin: auto 25%;
}

.slug-inp-grp input{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 100;
}

button.slug-submit-btn{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4rem;
    margin: auto;
    display: block;

    --c: #f7bf51;

    color: #000;
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
}

button.slug-submit-btn:hover{
    --_p: 100%;
}

.alert-container{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    max-height: 30vh;
    overflow: scroll;
}

/* .alert-container .alert-placeholder{
    position: absolute;
    top: 0;

} */

.next-button{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.hide{
    display: none;
    position:absolute;
}

.form-check-label{
    font-size: 2rem;
    position: left;
}

.select-card {
    width: 20rem; 
    height: 8rem;
}

.scroll-bar-contianer {
    max-height: 30vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.graph-container {
    width: 750px;
    height: 426px;
    margin: 20px auto;
    border: 1px solid #ccc;
}

#line-graph {
    width: 50%;
    height: 50%;
}

h1.text-center {
    margin-top: 20px; 
}

.footer{
    display: flex;
    flex: 1;
    width: 100vw;
    bottom: 0;
}

.footer img{
    width: 100%;
    height: 30vh;
}

.flex-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.75rem;
    margin: 0.75rem;
}

.flex-cont .graph-container canvas{
  margin: 0.75rem;
  padding: 0.75rem;
}